.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1300px;
}

.header-campus {
  background: #FFF;
}

.header-campus .navbar{
  background: #FFF;
  padding-top: 0;
  padding-bottom: 0;
}

.header-campus .navbar .navbar-nav {
  line-height: 50px;  
}

.header-campus .campus-logo {
  width: 130px;
  height: 50px;
}

.header-campus .navbar-nav .nav-link {
  color: #888;
  padding-right: 1rem;
  padding-left: 1rem;
}

.header-campus .nav-link:hover {
  background: #DDD;
}

.box-shadow {
  box-shadow: 0 2px 5px 0 #888;
}

.campus-boxes .card-header {
  color: #039be5;
  background-color: #FFF;
  font-size: 19px;
  border-radius: 0;
}

.campus-boxes {
  border-radius: 0;
}

